@import "./components/food/food.scss";
@import "./components/search/search.scss";
@import "./components/layout/layout.scss";

body {
	margin: 0;
	padding: 0;
	max-width: 1440 px;
	background-color: #ffe0e9;
}